.glyphicon-star {
	color: #FFD502;
	-webkit-text-fill-color: #FFD502; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #aaa;
}

.glyphicon-star-empty {
	color: #aaa;
  -webkit-text-fill-color: #aaa; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #aaa;
}
